body {
    background-color: rgb(25,25,25);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.gallery__container--main {
    margin-bottom: 1em;
}

.gallery__container--side {
    left: var(--left);
    right: var(--right);
    position: fixed;
    transform: translateY(-100% + 100vh);
    animation: gallery--side--scroll linear;
    animation-duration: auto;
    animation-timeline: scroll(root block);

}




@keyframes gallery--side--scroll {
    from {
		transform: translateY(calc(-100% + 100vh));
	}

	/* End position: shift entire column down, but not so that it goes out of view */
	to {
		transform: translateY(calc(100% - 100vh));
	}
}

@keyframes image-in {
    from {
        background-color: rgb(105, 105, 105);
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes image-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        background-color: rgb(105, 105, 105);
        opacity: 0;
        transform: translateY(-100%);
    }
}