body {
    background-color: rgb(25,25,25);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.gallery__container--main {
    margin-bottom: 1em;
}
.gallery__container--side {
    left: var(--left);
    right: var(--right);
    position: fixed;
    transform: translateY(-325rem);
    animation: gallery--side--scroll linear;
    animation-duration: auto;
    animation-timeline: scroll(root block);

}

.gallery__image {
    display: block;
    width: 24em;
    aspect-ratio: 1;
    border-radius: 1em;
    animation: image-in linear, image-out linear;
    animation-duration: auto;
    animation-timeline: view();
    animation-range: entry, exit;
}



@media (width > 1700px) {
    body {
        font-size: 21px;
    }

    .gallery__container--side {
        transform: translateY(-425rem);
    }
}

@media (width > 1810px) {
    body {
        font-size: 24px;
    }

    .gallery__container--side {
        transform: translateY(-489rem);
    }
}

@media (width > 2000px) {
    body {
        font-size: 26px;
    }

    .gallery__container--side {
        transform: translateY(-489rem);
    }
}

@media (width < 1700px) {
    body {
        font-size: 16px;
    }
}

@media (width < 1270px) {
    body {
        font-size: 12px;
    }

    .gallery__container--side {
        transform: translateY(-245rem);
    }
}

@media (width < 1000px) {
    body {
        font-size: 10px;
    }

    .gallery__container--side {
        transform: translateY(-200rem);
    }
}

@keyframes gallery--side--scroll {
    to {
        transform: translateY(16em);
    }
}

@keyframes image-in {
    from {
        background-color: rgb(105, 105, 105);
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes image-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        background-color: rgb(105, 105, 105);
        opacity: 0;
        transform: translateY(-100%);
    }
}