body {
    background-color: rgba(15, 15, 15);
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.gallery {
    padding-top: 10em;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery__scrollcontainer {
    white-space: nowrap;
    overflow: scroll hidden;
    height: 100%;
    scroll-timeline-name: --gallery-scroll;
    scroll-timeline-axis: inline;
}

.gallery__progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    animation: linear adjust-progress;
    animation-duration: auto;
    animation-timeline: --gallery-scroll;
    width: 0%;
    height: 10px;
    z-index: 200;
}


.gallery__entry {
    width: 100%;
    height: auto;
    display: inline-block;
    animation: animate-in linear forwards;
    animation-duration: auto;
    animation-timeline: view(inline);
    animation-range: cover 0% cover 20%;

}

img {
    -webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
}

@keyframes adjust-progress {

    to {
        width: 100%;
    }
}

@keyframes animate-in {
    from {
        opacity: 0;
        clip-path: inset(50% 0% 50% 0%);
    }

    to {
        scale: 1.3;
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}